# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
example/echo_client/echo_client
example/echo_server/echo_server
example/upload_client/upload_client
example/upload_server/upload_server
example/file_client/file_client
example/file_server/file_server

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
iq/iq
httpadapter/http_adapter_test_server
